body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}
h1, h2 { font-family: "Poppins", sans-serif;}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.btn {
    background-color: hsl(322, 100%, 66%);
    border-radius: 25px;
    border: none;
    color: #fff;
    padding: 1rem 0rem;
}
.btn:hover {
    cursor: pointer;
    opacity: 75%;
}
.btn-top {
    margin: 1rem;
    margin-left: 0;
    width: 50%;
}
.btn-bottom { 
    font-size: 16px;
    margin-bottom: 1rem;
    width: 60%;
}
.card {
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 2px hsla(209, 11%, 55%, 0.26);
    padding: 2rem;
    margin: 1rem ;
}
.card-getStarted {
    background: #fff;
    bottom: 0;
    justify-self: center;
    position: absolute;
    text-align: center;
    transform: translate(0, 50%);
}
.content-card { color: hsl(208, 11%, 55%); }
.copyright { 
    font-size: 12px;
    margin-top: 2rem;
    opacity: 75%;
    text-align: right; 
}
.fa-brands {margin: 0.5rem;}
.fa-brands:hover {color: hsl(322, 100%, 66%);}
.first-column {
    display: grid;
    grid-template-columns: 5% auto;
    align-items: center;
    column-gap: 1rem;
}

.img-screen {
    width: 55%;
    margin-left: 2rem;
}
.img-card {width: 75%;}

.list-group {
    justify-self: center;
}
.list-group a {
    color: hsla(192, 100%, 96%, 0.911);
    display: block;
    text-decoration: none;
    margin: 1rem;
}
.list-group a:hover { text-decoration: underline; }
.logo-white {
    filter: brightness(0) invert(1);
    margin-bottom: 1rem;
}
.navbar-button {
    background: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 2px 2px rgba(173, 172, 172, 0.5);
    float: right;
    margin-top: 0.25rem;
    padding: 0.5rem 2rem;
    font-weight: 600;
    font-family: "Open Sans";
}
.navbar-button:hover {
    color: hsl(208, 11%, 55%);
    cursor: pointer;
}
.row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    align-items: center;
    padding-left: 4rem;
}
.right {
    justify-self: right;
    grid-area: right;
}
.left {grid-area: left;}
.section-bottom {
    background-color: hsl(192, 100%, 9%);
    color: hsla(192, 100%, 96%, 0.911);
    padding: 10rem 5% 0;
}
.bottom-grid {
    display: grid;
    grid-template-columns: 30% auto auto auto;
}
.section-cards {
    display: grid;
    padding: 7rem 5% 12rem;
    position: relative;
}
.section-top {
    background-color: hsl(193, 100%, 96%);
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
    padding: 2rem 5%;
}
.social { margin-top: 1rem;}
.top-header { 
    display: flex;
    align-items: center;
    padding-top: 3rem;
}

@media screen and (max-width: 768px) {
    .bottom-grid {
        grid-template-columns: auto;
    }
    .card-getStarted {padding: 1rem 0;}
    .copyright { text-align: center;}
    .first-column { margin-bottom: 2rem;}
    .img-screen {
        margin-top: 3rem;
        margin-left: 0;
        width: 100%;
    }
    .list-group { justify-self: left; }
    .list-group a {margin-left: 0; margin-top: 0;}
    .navbar-brand {width: 12rem;}
    .navbar-button {margin-top: 0;}
    .row {
        display: block;
        text-align: center;
        padding-left: 2rem;
    }
    .top-header {
        display: block;
        text-align: center;
    }
    .social { justify-self: center; margin-top: 3rem;}
    
}